:root {
    --bg: white;
    --txt: black;
    --crm-primary: #1b296a; /* bleu foncé */
    --crm-secondary: #ed6840; /* orange */
    --crm-rf: #cf2d4f; /* rouge */
    --crm-ofp: #7db9da; /* bleu clair */
    --crm-services: #f6af2e; /* jaune */
    --crm-mecenat: #488287; /* bleu vert */
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0 20rem;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg);
    color: var(--crm-primary)
}

a {
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    padding: .3rem;
}

header h1, header h2 {
    text-align: center;
}

body > header, main {
    margin: auto;
}

body > header {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--crm-ofp);
    border: 1px solid var(--crm-primary);
    border-radius: 1rem;
}

main {
    /*display: grid;
    grid-template-columns: 96rem 1fr;
    grid-template-rows: 80rem;
    gap: 1rem;*/
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.home-img img {
    height: 33.4rem;
}

.questionnaire {
    /*background-color: var(--crm-ofp);*/
    /*overflow-y: scroll;*/
    /*flex: 0 96rem;*/
    text-align: center;
}

.questionnaire h2 {
    margin-bottom: 3rem;
}

.question {
    border: 1px solid var(--crm-primary);
    border-radius: .5rem;
    text-align: center;
    background-color: var(--crm-ofp);
    margin-bottom: 2rem;
}

.question legend {
    font-size: 3rem;
    background-color: var(--crm-primary);
    color: var(--bg);
    border: 1px solid var(--crm-ofp);
    border-radius: 1rem;
    padding: 1rem;
}

.question label {
    display: inline-block;
    font-weight: bold;
    font-size: 3.2rem;
    margin-top: 2rem;
    height: 14rem;
}
    
.btn, .question button {
    cursor: pointer;
    margin: 2rem;
    padding: 2rem;
    font-size: 3rem;
    border: 1px solid var(--crm-secondary);
    border-radius: 1rem;
    background-color: var(--crm-primary);
    color: var(--bg);
    transition: all ease .6s;
}

.btn:hover, .question button:hover {
    border: 1px solid var(--crm-primary);
    background-color: var(--crm-secondary);
    color: var(--bg);
}

.btn.large {
    padding: 3rem;
    font-size: 5rem;
}

.btn.full {
    display: block;
    margin: 2rem;
    text-align: center;
}

.answers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.answers button {
    width: 40%
}

.resultat {
    /*background-color: var(--crm-primary);*/
    /*flex: 1;*/
}

.resultat p {
    margin: 0;
    padding: 1rem;
}