:root {

}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
}

h1, h2 {
    margin: 0;
    padding: .3rem;
}

body > header, main {
    margin: auto;
}

body > header {
    height: 18rem;
    background-color: aquamarine;
}

main {
    display: grid;
    grid-template-columns: 96rem 1fr;
    grid-template-rows: 80rem;
    gap: 1rem;
}

.questionnaire {
    background-color: #00FF0022;
    overflow-y: scroll;
    /*flex: 0 96rem;*/
}

.question {
    border: 0;
    border-top: 1px solid blue;
}

.question label {
    font-weight: bold;
    font-size: 2.2rem;
}

.resultat {
    background-color: #0000FF22;
    /*flex: 1;*/
}

.resultat p {
    margin: 0;
    padding: 1rem;
}